{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d1.jpg"  alt="product image">
            </div>
            <div class="itemname">Hard disk case</div>
            <div class="itemprice">Price: Rs.1800.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d2.jpg"  alt="product image">
            </div>
            <div class="itemname">Portable external hard disk</div>
            <div class="itemprice">Price: Rs.4000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d3.jpg"  alt="product image">
            </div>
            <div class="itemname">Waterproof Portable external SSD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d4.jpg"  alt="product image">
            </div>
            <div class="itemname">Hard Drive Adapter</div>
            <div class="itemprice">Price: Rs.1000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d5.jpg"  alt="product image">
            </div>
            <div class="itemname">Memory card for sd adapter</div>
            <div class="itemprice">Price: Rs.3500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d6.jpg"  alt="product image">
            </div>
            <div class="itemname">Micro adapter</div>
            <div class="itemprice">Price: Rs.300.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d7.jpg"  alt="product image">
            </div>
            <div class="itemname">2TB HDD</div>
            <div class="itemprice">Price: Rs.5500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d8.jpg"  alt="product image">
            </div>
            <div class="itemname">seagate expansion HDD</div>
            <div class="itemprice">Price: Rs.4300.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d9.jpg"  alt="product image">
            </div>
            <div class="itemname">Converter Adapter</div>
            <div class="itemprice">Price: Rs.1800.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/d10.jpg"  alt="product image">
            </div>
            <div class="itemname">IDE Interface Network card</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        
    </div>
    </div>
{% endblock  %}